
<small class="text-muted">Agendador</small>
<select name="cboAgendador" class="form-control" required>
    {% for agendador in agendadores %}
        <option value="{{agendador.id}}">{{agendador.nombre}}</option>
    {% endfor %}
</select>